@page
@model TheReynoldsGroupSite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid">
    <div class="contactus-header">
        <div class="row">
            <div class="col-sm-8">

 <h2 class="contactus-title">The Reynolds Group</h2>
         
        <h2 class="contactus-subtitle">Are you ready to Grow! <br /> </h2>
        <h2 class="contactus-sub-subtitle">
    <br />Send us a message <br />or give us a call! </h2>
    </div>
    </div>
    </div>
   </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                 <h2 class="cta">Lead<br /> yourself to <br />extraordinary <br />outcomes</h2>
            </div>
            <div class="col-sm-6">
            <p class="cta-content">We work with individuals, entrepreneurs, and executives 
                 on developing leadership skills,<br /> habits, and behaviors that enable them to
                 lead with the highest degree of influence and realize maximum performance.
Whether you’re a stay-at-home parent, CEO, or doctor, use our coaching services to lead yourself to extraordinary outcomes.</p>
            </div>
        </div>
  </div>
    
 
  <div class="bg-opacity-50 cbd">
    <div class="contactview-title">
        <h2  class="contactview-title"><br /><br />Contact Us<br /><br /></h2>
    </div>
    
    <div class="container">
          <div class="row">
            <div class="col-sm-2 offset-sm-1">

			<h2 class="contact">Address</h2>
            </div>
            <div class="col-sm-2">
<p class="addr"><br />123 Main street<br />
<br />Montpelier, VT 05602</p>

</div>
<div class="col-sm-2">

<h2 class="contact">Email </h2>

<h2 class="contact">Phone</h2>
</div>
<div class="col-sm-2">
    <h4 class="contactview"><br />CustomerService@Reynolds.com</h4>

<h4 class="contactview"><br />(802) 828-1260</h4>

		</div>
	</div>

    
</div>

<div class="container">
 
 
<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="contactformview">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                  
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-sm-7 col-md-8 m-15px-tb">
                <div class="contact-form">
                     <form action="/" method="post" class="contactform contact_form" id="contact_form">
                        <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Full Name" class="form-control"> 
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input id="email" type="text" placeholder="Email Address" class="form-control">  
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input id="subject" type="text" placeholder="Subject" class="form-control"> 
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea id="message" placeholder="Message" class="form-control" rows="3"></textarea> 
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="send">
                                    <a id="send_message" class="px-btn theme" href="#"><span>Contact Us</span> <i class="arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 m-15px-tb">
                <div class="contact-name">
                    <h5>Mail</h5>
                    <p>customerservice@reynolds.com</p>
                </div>
                <div class="contact-name">
                    <h5>Visit Our Office</h5>
                    <p>123 Main Street <br>FL 33157 New York City</p>
                </div>
                <div class="contact-name">
                    <h5>Phone</h5>
                    <p> 123 654 8096</p>
                </div>
               <!-- <div class="social-share nav">
                    <a class="dribbble" href="#">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="behance" href="#">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a class="linkedin" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>-->
                </div>
            </div>
        </div>
 </div>
</section>
</div>
</div>
    
                       
