@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="index-header">
        <div class="row">           
            <h1 class="index-title 
">            The Reynolds Group</h1>
                <h2 class="index-subtitle"> Executive Coaching</h2>           
                     <h3 class="home-tag">Learn to Grow Your Leadership Skills</h3>
                         <div class="index-button">
                             <div class="btn-a"><a asp-page="./Contact"  id="home-btn" class="align-middle">Get a Free Consultation Today</a></div>
                         </div>
                             <p class="home-content"> Grow your Business<p />
                       <p class="home-content2"> Grow Your Teams <p />
                          <p class="home-content3">Grow Your Career</p>
       
     </div>
   </div>
</div>
<div class="container">
    <h2 class="intro-heading text-center">The Reynolds Group</h2>
    <h2 class="intro-sub-heading text-center">Get the Results Your Looking For!</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
       <div class="card-body intro-card">
            <h3 class="card-title text-center">One-On-One Virtual Coaching</h3>
            <p class="card-text">Show leaders you care enough to invest in them individually, and
            your team will respond stronger than you can imagine.<br /><br />
           In one-on-one coaching we help you identify your goals and opportunities for growth, and offer training and guidance 
              throughout a 1-3 year program that's customized to get you to where you want to go.<br /><br />
            Leaders in your organization can reach their full potential with the expertise and support of a Reynolds Group leadership coach.
       </p>
    
      </div>
      </div>
      <div class="col-sm-6">
       <div class="card-body intro-card">
           <h3 class="card-title text-center">Team Coaching</h3>
           <p class="card-text" >The Reynolds Group coaches can guide your leadership team as a single unit to help you reach short- and long-term company goals.<br /><br />
            Our team coaching programs improve teamwork and relationships, boost employee engagement, and create a culture of leadership that will encourage employees to buy-in to development like never before.<br /><br />
            Team coaching programs are hand-made around your organization's challenges, opportunities, culture, and relationships.</p>
             </div>
        </div>
       </div>
    </div>

<div class="container">

    <div class="row intro-bottom">
        <div class="col-sm-5 offset-sm-1">
            <img src="/Images/happy.jpg" Width="600" height="400" alt="group high five" class="intro-img img-fluid">
        </div>     
        <div class="col-sm-5">
            <h5 class="text-intro-bottom">Our coaches are highly experienced former C-level executives and business owners,
                who were all personally mentored by R.J. Reynolds. </h5>
                <h5 class="text-intro-bottom">
                Assessments at the start of our coaching programs allow us to pair you with a coach who has faced similar obstacles and opportunities.  </h5>
         </div>
   </div>
   </div>
    <div class="container-fluid">
        <div class="banner-home">
        <h3 class="text-center banner-text">Speak with a Leadership Expert to learn more about our coaching and consulting programs</h3>
        <div class="col-sm-1 offset-sm-4" ><div class="btn text-center banner-btn"><a asp-page="./Contact" class="banner-btn"><strong>CONTACT US TODAY!</strong></a></div>
    </div>
    </div>
   </div>
   
