@page
@model ReynoldsWebSite.Pages.MellonViewModel
@{

     ViewData["Title"] = "MellonView";


}

<div class="container">
    <div class="row">
        <div class="details">
            
        </div>
        <div class="col-sm-4 offset-sm-3">
            <h3 class="text-center">Details About</h3>
            <img src="~/Images/member5.jpg" alt="image of manager" class="img-fluid detail-img" />
            <h3 class="text-center">Chris Mellon</h3>
            <p>He has nearly 40 years of experience in the corporate world,<br />
                having worked with smaller, privately–held companies to larger<br />
                international corporations. His work has been to make underwriting<br />
                decisions on behalf of the companies I worked with and to advise<br />
                our clients on how to best structure themselves for profitability.</p>
  <div class="btn btn-back" typeof="button"><a asp-page="./About">Back</a></div>
        </div>
    </div>
</div>


}
