@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
<h1 class="text-center privacy-title">@ViewData["Title"]</h1>
<h3 class="privacy-subtitle">Collection of Information</h3>
<p class="privacy-content">This Site collects a variety of personal data. Personal data such
    as name, title, organization name, address, e-mail address, phone and fax numbers, credit
    card details, and other information may be collected from You in order for Reynolds Group
    to respond to a request for information about a product/service. 
   . If You contact The Reynolds Group, we may keep a record of this communication.
    Before any other data are collected, You will be told the purpose for which the data will be used and 
    have the choice of whether to provide such data to The Reynolds Group.</p>

<p class="privacy-content">This Site does not use “cookie” technology, but does log IP addresses and browser
information for purposes of system administration, identifying technical difficulties,
evaluating traffic patterns and usage of this Site, and otherwise providing content relevant to visitors to this Site.</p>



<h3 class="privacy-subtitle" >Use, Disclosure, and Transfer of Personal Data</h3>

<p class="privacy-content">You hereby agree that The Reynolds Group may collect,
    use, store, maintain, transfer, and delete Your personal data in accordance with this 
    Privacy Policy. The Reynolds Group will release Your personal information only with Your express consent, 
    unless releasing such information is otherwise required by applicable law, statute, regulation,
    ordinance, or court order or The Reynolds Group has reason to believe that disclosing 
    such information is necessary to identify, contact, or bring legal action against someone who may 
    be violating the Terms and Conditions of Use or may be causing injury to or interference with 
    (either intentionally or unintentionally) Reynolds Groups' rights or property, other
    Reynolds Group users, or anyone else that could be harmed by such activities. Where
    does release Your personal data to The Reynolds Group business partners,
    which may delivery companies, will first require them to agree to use such personal data in accordance with this
    Privacy Policy and only for the purposes for which the data were collected.</p>

<p class="privacy-content">The disclosure of personal data as contemplated in this Privacy Policy may be to a party outside of
Your home jurisdiction. In particular, if You are based in the European Union, data may be transferred 
to jurisdictions outside the European Union that may not have equivalent laws and rules to protect personal
data. By agreeing to this Privacy Policy, You also consent to the transfer of Your personal data to
The Reynolds Group and its partners, in order to deliver our services to you.

The Reynolds Group reserves the right to use aggregated data (data that are not individually identifiable). 
Such aggregate uses could include, but are not limited to improving the content, design and usability of the Site,
and otherwise meeting The Reynolds Group’ marketing and business objectives.</p>
 

<h3 class ="privacy-subtitle" >Data Security and Integrity</h3>

<p class="privacy-content">We do not require you to register or sign-in on our website,
    so your information is never left on the Internet. When You provide personal data to the
    Site, such data are stored on secured servers that are protected by this Privacy Policy
    regardless of where they may be located. The Reynolds Group takes reasonable steps 
    to protect Your personal data from loss, misuse, or other unauthorized uses, and to remove 
    Your personal data when it is no longer required for its intended purposes. Reynolds Group
   cannot, however, guarantee that loss, misuse, or unauthorized use will never occur (e.g., 
    that someone will not overcome our security measures), and makes no representations or warranties 
    to this effect.</p>

    </div>