@page
@model TheReynoldsGroupSite.Pages.ServicesModel
@{
    ViewData["Title"] = "ServiceView";
}



<div class="container-fluid">
   <div class="service-header">
<div class="row">
  <div class="col-sm-4"><h2 class="service-title">The Reynolds Group</h2></div>
        <div class="col-sm-8"><h2 class="service-sub-title">Our Services</h2></div>

    </div>
</div>
  
</div>
<!--*********-->
  <div class="container-fluid">
    <div class="section-header">
      <h1> Our Services</h1>
    </div>
    </div>
    <div class="container-fluid">
       <div class="single-item">
        <div class="item-box">
          
          <h3 class="item-title">Team Building</h3>
          <p>Equip your leaders at every level with the skills they need to successfully lead a team.</p>
      </div>
    </div>
  </div>

   <div class="container-fluid">
      <div class="service-programs">
          <div class="row">
            
              <div class="col-sm-6">
<h3 class="text-center title-services">SYMMETRICAL TEAM COACHING</h3>
<p class="content-services">
 
Traditionally, coaching has been focused on the evolution of individual leaders.
We believe the optimal approach for improving leadership behavior in a team setting is
through a process where all of the leaders in a system are simultaneously engaged in coaching efforts. 
We’ve found this approach lets us focus a team on the behaviors that matter most to succeed against their strategy. 
It also creates a context for leaders to support each other consciously in a shared and reciprocal process of change. 
We call this approach Symmetrical Team Coaching. 
</p>
              </div>
             
              <div class="col-sm-6">
<h3 class="text-center title-services">Leadership</h3>
<p class="content-services">
   Often our clients call us because they need specific support for an individual leader.
   Sometimes this is a leader new to an organization, an emerging high-potential leader,
   or one who is struggling with the complexities and challenges of a bigger role. Whatever the case may be, 
   we deploy an experienced coach who is well-suited to the situation and expert in helping that leader make
   rapid and progressive evolutions, all tied to the organization’s strategy and business objectives.

  
</p>
              </div>
          </div>
        
      </div>
  </div>
  

    <div class="container-fluid">
          <div class="single-item">
        <div class="item-box">
          
          <h3 class="item-title" >Coaching For Management</h3>
          <p>We hone the specific management skills needed to become an effective manager</p>
      </div>
    </div>
  </div>
   <div class="container-fluid">
      <div class="service-programs">
          <div class="row">
             
              <div class="col-sm-12">
<h3 class="text-center title-services">Entrepreneurs</h3>
<p class="content-services" >
   From sales, hiring, inventory and cash management, there is a lot to know — and even more to do. 
   As an Entrepreneur, you are the reflection of your business and its most important asset. 
   You are a disciplined, confident self-starter with the will to make things happen. You strive 
   to apply continuous improvement to your business, but also struggle with finding the time to 
   learn and develop as a business owner. You know you have a lot to learn but the demands and commitments 
   you are responsible for can get in the way.

From hiring employees to increasing profits, managing cash and staying energized, your challenges
are real. Prioritizing your growth and learning is essential to the long-term success of your business 
and we can help you get there fast with a personalized development approach. Using an Esteemed coach
is an effective way to leverage an expert's experience and benefit from their non-bias perspective.
</p>

              </div>
             

          
             
      </div>
  </div>
  
    </div>  
  
 
    <div class="container-fluid">
          <div class="single-item">
        <div class="item-box">
          
          <h3 class="item-title" >Executive Coaching</h3>
          <p>One-on-one coaching for the seasoned leader who seeks to improve how they relate to their team members and customers</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
      <div class="service-programs">
          <div class="row">
            
              <div class="col-sm-6">
<h3 class="text-center title-services">CEO Coaching</h3>
<p class="content-services" >
   You can handle the daily pressure and stress of running your business, but it takes its toll,
   especially when there is nobody you trust to discuss those biggest issues with. Your challenges
   are often confidential and you need someone very experienced, in business management and leadership, 
   who can help you better understand and process those difficult issues. Using a CEO Coach is a great 
   way to leverage the experience of an expert and benefit from their non-bias perspective.

At Esteemed, our job is to help you process your biggest challenges so you can quickly make 
decisions that enhance your business. We teach you to see beyond the internal issues that
consume valuable time and energy and master new leadership skills that better position you
to lead with strength and confidence.

Because each CEO is a unique individual with very specific strengths, weaknesses and needs,
we don’t follow a set formula or offer a standard training program. We support you in the moment 
and prepare you to thrive.
</p>

              </div>
              
              <div class="col-sm-6">
<h3 class="text-center title-services">Executives</h3>
<p class="content-services" >
  As an Executive you have unique challenges and needs. Your issues span from: generating revenue,
  staying focused on priorities, hiring the best people, leading your team to success and of course,
  finding the time to get everything done on your to-do list. Prioritizing your growth and learning 
  is essential to your long-term success, but it’s hard to carve out the necessary time to focus on 
  your leadership development.

Using an Esteemed coach is a fast and efficient way to leverage an expert's experience and benefit
from their non-bias perspective. We coach you to see what’s most important. Using our personalized
coaching will quickly enhance your leadership development and help you reach your highest potential.

At Esteemed, our job is to help you develop into a stronger executive and prepare you for your next 
promotion. We teach you to build strong teams, manage up and deliver consistent results that get you noticed.
</p>

              </div>
          </div>
          
      </div>
  </div>

      
  

    <div class="container-fluid">
      <div class="single-item">
        <div class="item-box">
          
          <h3 class="item-title" >Specialty Coaching</h3>
          <p>Equip your leaders at every level with the skills they need to successfully lead a team.</p>
      </div>
    </div>
  </div>

  
       <div class="container-fluid">
      <div class="service-programs">
          <div class="row">
            
              <div class="col-sm-6">
<h3 class="text-center title-services">Mergers and Acquisitions</h3>
<p class="content-services" >
   There is an old saying, “The devil is in the details”, and there is no truer statement for mergers and acquisitions.<br />
   While negotiating the best price and having a solid vision is critical to your business’ future, most mergers and or acquisitions<br />
   suffer unexpected losses because they did not work fast enough, mitigate risks or implement an integration plan.

A successful integration starts with a strong vision and solid financials, but the hardest work stands on the pillars of culture,<br />
communications and shared goals. Each of these pillars must align with the new business’ long-term vision and goals. <br />
There will be uncomfortable consequences that breed employee fear, such as restructuring, lay-offs and system conversions. <br />
In the end, it is your job as the leader to set the right expectations, keep everyone motivated <br />
and focused on the opportunities that lie ahead
</p>

              </div>
             
              <div class="col-sm-6">
<h3 class="text-center title-services">Marketing</h3>
<p class="content-services" >
   Marketing is not the core competency of most businesses, but it is required to bring in that
   all important revenue. You need a solid brand that represents your value and an effective way 
   to get the word out to your target markets. Diligently managing your marketing strategies, 
   tools and resources can help you cut through the clutter, get noticed and maximize revenue.

We know it can be overwhelming to stay on top of all things marketing especially as: attention 
spans grow shorter, marketing channels grow broader and new shiny projects become distractions.
Unlike traditional agencies, Esteemed coaching take the mystery out of marketing and teach you 
how to take control of your marketing initiatives.
</p>

              </div>
          </div>
         
      </div>
  </div>
  