@page
@model TheReynoldsGroupSite.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryTypevalue" class="control-label"></label>
                <input asp-for="Category.CategoryTypevalue" class="form-control" />
                <span asp-validation-for="Category.CategoryTypevalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryDescription" class="control-label"></label>
                <input asp-for="Category.CategoryDescription" class="form-control" />
                <span asp-validation-for="Category.CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.TotalValuesFromQuestions" class="control-label"></label>
                <input asp-for="Category.TotalValuesFromQuestions" class="form-control" />
                <span asp-validation-for="Category.TotalValuesFromQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.TenToSeven" class="control-label"></label>
                <input asp-for="Category.TenToSeven" class="form-control" />
                <span asp-validation-for="Category.TenToSeven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.SixToFour" class="control-label"></label>
                <input asp-for="Category.SixToFour" class="form-control" />
                <span asp-validation-for="Category.SixToFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.ThreeToOne" class="control-label"></label>
                <input asp-for="Category.ThreeToOne" class="form-control" />
                <span asp-validation-for="Category.ThreeToOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Zero" class="control-label"></label>
                <input asp-for="Category.Zero" class="form-control" />
                <span asp-validation-for="Category.Zero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.NegOneToNegTwo" class="control-label"></label>
                <input asp-for="Category.NegOneToNegTwo" class="form-control" />
                <span asp-validation-for="Category.NegOneToNegTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.NegThreeToNegFour" class="control-label"></label>
                <input asp-for="Category.NegThreeToNegFour" class="form-control" />
                <span asp-validation-for="Category.NegThreeToNegFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
